<app-sidebar></app-sidebar>
<app-navbar></app-navbar>

<div class="wrapper">
    <div class="left">
        <img src="../../../../../assets/img/ui-danro.jpg" alt="user" class="rounded-circle">
        <h5>name</h5>
        <div class="container">
            <a class="btn btn-round btn-success">Send an email of confirmation</a>
            <a class="btn btn-round btn-danger">Send an email of rejection</a>
        </div>
    </div>
    <div class="right">
        <div class="info">
            <h3>Civility</h3>
            <div class="info_data">
                <div class="data">
                    <h4>Email</h4>
                    <p></p>
                </div>
                <div class="data">
                    <h4>Phone</h4>
                    <p></p>
                </div>
                <div class="data">
                    <h4>Date of birth</h4>
                    <p></p>
                </div>

            </div>
        </div>

        <div class="projects">
            <h3>Study level</h3>
            <div class="projects_data">
                <div class="data">
                    <h4>Level</h4>
                    <p></p>
                </div>
                <div class="data">
                    <h4>Diploma title</h4>
                    <p></p>
                </div>
                <div class="data">
                    <h4>Engineering school</h4>
                    <p></p>
                </div>

            </div>
        </div>
        <div class="exp">
            <h3>Experience</h3>
            <div class="exp_data">
                <div class="data">
                    <h4>level of experience
                    </h4>
                    <p></p>
                </div>
                <div class="data">
                    <h4>Experiences</h4>
                    <p></p>
                </div>


            </div>
        </div>

        <div class="exp">
            <h3>Attached documents
            </h3>
            <div class="exp_data">
                <div class="data">
                    <h4>CV</h4>
                    <p>
                        <a class="cv"><i class="fa fa-download"></i></a>
                    </p>
                </div>
                <div class="data">
                    <h4>Cover letter
                    </h4>
                    <p>
                        <a class="cv"><i class="fa fa-download"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>