<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<section id="main-content">
    <div class="wrapper">
        <div class="left">
            <img src="img/ui-sam.jpg" alt="user" width="150" class="img-circle">
            <br>
            <br>
            <h4>Last name First name </h4>
            <h2>function</h2>

        </div>

        <div class="right">

            <div class="info">
                <h3> Contact information</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>Date of birth</h4>
                        <p> 01/02/1999</p>
                    </div>
                    <div class="data">
                        <h4>Phone</h4>
                        <p> 1234566</p>
                    </div>
                    <div class="data">
                        <h4>Email</h4>
                        <p> mail</p>
                    </div>
                    <div class="data">
                        <h4>Address</h4>
                        <p> Add</p>
                    </div>

                </div>
            </div>

            <div class="projects">

                <h3> Post</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>Department</h4>
                        <p> DepName</p>
                    </div>
                    <div class="data">
                        <h4>Fonction</h4>
                        <p>Employee </p>
                    </div>
                    <div class="data">
                        <h4>Type of contract</h4>
                        <p> </p>
                    </div>
                    <div class="data">
                        <h4>Entry date </h4>
                        <p> 12/01/2020</p>
                    </div>
                    <div class="data">
                        <h4>Salary</h4>
                        <p> 12278$</p>
                    </div>


                </div>


            </div>

            <a class="  btn-lg btn-theme03 btn-round" style="padding-left:50px;padding-right:50px;">Edit</a>

        </div>



    </div>
</section>
<app-footer></app-footer>