<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<section style="padding-top: 5%;padding-bottom:25%;padding-left: 22%;">

    <div class="container">
        <h3><i class="fa fa-angle-right"></i> Employee's vacation review</h3>

        <div>
            <input type="text" class="form-control" placeholder="Search" />
        </div>

        <table class="table ">

            <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>first & last name</th>
                    <th>Hiring date</th>
                    <th>Days of vacation</th>
                    <th>Consumed days of vacation</th>
                    <th>Remainig days of vacation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="img/ui-sam.jpg" alt="user" width="70" class="img-circle"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>

        </table>
    </div>

</section>
<app-footer></app-footer>