<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<section style="padding-top: 5%;padding-bottom: 20%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div id="ui">
                    <form>
                        <h3><i class="fa fa-angle-right"></i> Edit your profile picture</h3>
                        <img src="../../../../assets/img/ui-sam.jpg" alt="user" width="150" class="img-circle">

                        <br>
                        <input class="select" type="file">
                        <br>
                        <br>
                        <input type="submit" value="save" class="btn-photo">
                    </form>
                </div>
            </div>
            <div class="col-lg-7">
                <div id="ui">
                    <form>
                        <h3><i class="fa fa-angle-right"></i> Edit your password
                        </h3>
                        <br>
                        <label for="fname">Old password</label>
                        <input type="password" name="oldPassword" class="form-control">
                        <label for="fname">New password</label>
                        <input type="password" name="newPassword" class="form-control">
                        <br>
                        <br>
                        <br>
                        <br>
                        <input type="submit" value="save" class="btn">

                    </form>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>
<app-footer></app-footer>